.App {
  text-align: center;
}
.board-container {
  display: flex;
  justify-content: space-around;
}
.board {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  box-sizing: content-box;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 4px 23px 10px rgba(172, 172, 172, 0.2)
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  line-height: 100%;
}

.red {
  color: rgb(0, 0, 0);
  background-color: #d10000;
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 0px 4px 23px 10px rgba(225, 19, 19, 0.2)
}

.blue {
  color: rgb(0, 0, 0);
  font-size: 30px;
  vertical-align: middle;
  font-weight: bolder;
}

.grey {
  background-color: #000000;
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 0px 4px 23px 10px rgba(6, 16, 66, 0.2)

}



.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.board_ttt {

  margin-top: 5px;
  border: 10px solid #000;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
  position: relative;
  overflow: hidden;
}

.border_ttt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #000, #fff);
}

.border_ttt::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to right, #000 50%, #fff 50%);
}

.border_ttt:hover::before,
.border_ttt:hover::after {
  transform: rotate(45deg);
}



.app.-active .board_ttt {
  animation: pulse 1s linear 0s infinite alternate;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 4px 23px 10px rgb(42 199 102 / 20%);
  }
  100% {
    box-shadow: 0px 4px 3px 1px rgb(42 199 102 / 20%);
  }
}

.row {
  display: flex;
}

.cell_ttt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border: 1px solid rgb(97, 97, 97);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cell_ttt:hover {
  background-color: #929292;
}

.cell_ttt.not-my-turn {
  cursor: not-allowed;
}

.cell_ttt.not-my-turn:hover {
  background-color: inherit;
}

.cell_ttt.-winning,
.cell_ttt.-winning:hover {
  background-color: rgba(72, 228, 79, 0.259);
}